# Librarys

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code
> 1. The `dataproject.py` file includes a function which can be used multiple times in this notebook.

**Project**

A report by --- speaks to the importans of public libraries for ----. In this project we provide simple statistics and comparisons of how librabries in munusipalities relate to other (----). 
This project is in no way ment to claim a causal conection, as we are simple investigating correlations. 


Report: https://www.roskildebib.dk/sites/roskilde.ddbcms.dk/files/files/news/roskildebib_folkebibliotekets_betydning_for_borgerne_i_danmark_eng_final_0.pdf

Imports and set magics:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets

import datetime

import pandas_datareader # install with `pip install pandas-datareader`
import pydst # install with `pip install git+https://github.com/elben10/pydst`


# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
import dataproject
plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})

# Read and clean data

# Importing dataset 1: Libraries by manusipalities

**Importing data**

Import your data, either through an API or manually, and load it.

In [ ]:
#Object for interacting with DST 
Dst = pydst.Dst(lang='en') # setup data loader with the langauge 'english'

In [ ]:
#Subjects within DST 
Dst.get_subjects()

In [ ]:
#List of tables within the subject with index 2
tables = Dst.get_tables(subjects=['7'])
display(tables)

In [ ]:
#List of variables from the tabel, AKU110K from subject 2
tables[tables.id =='BIB1']

In [ ]:
#list of variables (again?)
bib_var = Dst.get_variables(table_id = 'BIB1')
bib_var

In [ ]:
#Values of the variables 
bib_vars  = Dst.get_variables(table_id = 'BIB1')

for id in [ 'BNØGLE', 'Tid']:
    print(id)
    values = bib_vars.loc[bib_vars.id ==id, ['values']].values[0,0]
    for value in values:
        print(f'id = {value["id"]}, text = {value["text"]}')

In [123]:
#Eksracting the disired data
#Dictionary of variables of the disired data 
var_pick = {'OMRÅDE': ['*'], 'BNØGLE': ['15110'], 'Tid': ['*']}

#Raw dataset 
bib_api = Dst.get_data(table_id = 'BIB1', variables = var_pick)
bib_api.sort_values(by= ['OMRÅDE', 'TID'])

bib_api.head(10)

               OMRÅDE               BNØGLE   TID   INDHOLD
0         All Denmark  Loan. All materials  2009  48370377
1  Region Nordjylland  Loan. All materials  2009   4772721
2  Region Midtjylland  Loan. All materials  2009  10657591
3   Region Syddanmark  Loan. All materials  2009  10164292
4  Region Hovedstaden  Loan. All materials  2009  15973419
5     Region Sjælland  Loan. All materials  2009   6802354
6          Copenhagen  Loan. All materials  2009   4515774
7       Frederiksberg  Loan. All materials  2009    957136
8            Ballerup  Loan. All materials  2009    536955
9             Brøndby  Loan. All materials  2009    209132

# Importing dataset 2: number of people in the ages (##)

In [ ]:
#Subjects within DST 
Dst.get_subjects()

In [124]:
#List of tables within the subject with index 2
tables = Dst.get_tables(subjects=['1'])
display(tables)

,id,text,unit,updated,firstPeriod,latestPeriod,active,variables
0,FOLK1A,Population at the first day of the quarter,Number,2023-02-10 08:00:00,2008Q1,2023Q1,True,"[region, sex, age, marital status, time]"
1,FOLK1AM,Population at the first day of the month,Number,2023-03-10 08:00:00,2021M10,2023M02,True,"[region, sex, age, time]"
2,BEFOLK1,Population 1. January,Number,2023-03-01 08:00:00,1971,2023,True,"[sex, age, marital status, time]"
3,BEFOLK2,Population 1. January,Number,2023-03-01 08:00:00,1901,2023,True,"[sex, age, time]"
4,FOLK3,Population 1. January,Number,2023-02-10 08:00:00,2008,2023,True,"[day of birth, birth month, year of birth, time]"
...,...,...,...,...,...,...,...,...
354,KM22,Registration and resignation from the national...,Number,2023-03-03 08:00:00,2007Q1,2022Q4,True,"[deanary, age, member of the National Church, ..."
355,KM33,Live births and deaths,Number,2023-03-03 08:00:00,2007Q1,2022Q4,True,"[deanary, movement, time]"
356,KMSTA004,Summary vital statistics,Number,2023-03-03 08:00:00,2015,2022,True,"[deanary, movements, time]"
357,KM4,Religious ceremonies,Number,2023-02-16 08:00:00,2006,2022,True,"[parish, movement, time]"
358,KM44,Religious ceremonies,Number,2023-02-16 08:00:00,2006,2022,True,"[deanary, movement, time]"

In [125]:
#tables = [tables.id == 'BEFOLK1']
#print(tables)

#list of variables (again?)
folk_vars = Dst.get_variables(table_id = 'FOLK1A')
folk_vars

for id in ['OMRÅDE', 'Tid']:
    print(id)
    values = folk_vars.loc[folk_vars.id == id, ['values']].values[0,0]
    for value in values:
        print(f'id= {value["id"]}, text = {value["text"]}')

OMRÅDE
id= 000, text = All Denmark
id= 084, text = Region Hovedstaden
id= 101, text = Copenhagen
id= 147, text = Frederiksberg
id= 155, text = Dragør
id= 185, text = Tårnby
id= 165, text = Albertslund
id= 151, text = Ballerup
id= 153, text = Brøndby
id= 157, text = Gentofte
id= 159, text = Gladsaxe
id= 161, text = Glostrup
id= 163, text = Herlev
id= 167, text = Hvidovre
id= 169, text = Høje-Taastrup
id= 183, text = Ishøj
id= 173, text = Lyngby-Taarbæk
id= 175, text = Rødovre
id= 187, text = Vallensbæk
id= 201, text = Allerød
id= 240, text = Egedal
id= 210, text = Fredensborg
id= 250, text = Frederikssund
id= 190, text = Furesø
id= 270, text = Gribskov
id= 260, text = Halsnæs
id= 217, text = Helsingør
id= 219, text = Hillerød
id= 223, text = Hørsholm
id= 230, text = Rudersdal
id= 400, text = Bornholm
id= 411, text = Christiansø
id= 085, text = Region Sjælland
id= 253, text = Greve
id= 259, text = Køge
id= 350, text = Lejre
id= 265, text = Roskilde
id= 269, text = Solrød
id= 320, text = Faxe
id= 376, text = Guldborgsund
id= 316, text = Holbæk
id= 326, text = Kalundborg
id= 360, text = Lolland
id= 370, text = Næstved
id= 306, text = Odsherred
id= 329, text = Ringsted
id= 330, text = Slagelse
id= 340, text = Sorø
id= 336, text = Stevns
id= 390, text = Vordingborg
id= 083, text = Region Syddanmark
id= 420, text = Assens
id= 430, text = Faaborg-Midtfyn
id= 440, text = Kerteminde
id= 482, text = Langeland
id= 410, text = Middelfart
id= 480, text = Nordfyns
id= 450, text = Nyborg
id= 461, text = Odense
id= 479, text = Svendborg
id= 492, text = Ærø
id= 530, text = Billund
id= 561, text = Esbjerg
id= 563, text = Fanø
id= 607, text = Fredericia
id= 510, text = Haderslev
id= 621, text = Kolding
id= 540, text = Sønderborg
id= 550, text = Tønder
id= 573, text = Varde
id= 575, text = Vejen
id= 630, text = Vejle
id= 580, text = Aabenraa
id= 082, text = Region Midtjylland
id= 710, text = Favrskov
id= 766, text = Hedensted
id= 615, text = Horsens
id= 707, text = Norddjurs
id= 727, text = Odder
id= 730, text = Randers
id= 741, text = Samsø
id= 740, text = Silkeborg
id= 746, text = Skanderborg
id= 706, text = Syddjurs
id= 751, text = Aarhus
id= 657, text = Herning
id= 661, text = Holstebro
id= 756, text = Ikast-Brande
id= 665, text = Lemvig
id= 760, text = Ringkøbing-Skjern
id= 779, text = Skive
id= 671, text = Struer
id= 791, text = Viborg
id= 081, text = Region Nordjylland
id= 810, text = Brønderslev
id= 813, text = Frederikshavn
id= 860, text = Hjørring
id= 849, text = Jammerbugt
id= 825, text = Læsø
id= 846, text = Mariagerfjord
id= 773, text = Morsø
id= 840, text = Rebild
id= 787, text = Thisted
id= 820, text = Vesthimmerlands
id= 851, text = Aalborg
Tid
id= 2008K1, text = 2008Q1
id= 2008K2, text = 2008Q2
id= 2008K3, text = 2008Q3
id= 2008K4, text = 2008Q4
id= 2009K1, text = 2009Q1
id= 2009K2, text = 2009Q2
id= 2009K3, text = 2009Q3
id= 2009K4, text = 2009Q4
id= 2010K1, text = 2010Q1
id= 2010K2, text = 2010Q2
id= 2010K3, text = 2010Q3
id= 2010K4, text = 2010Q4
id= 2011K1, text = 2011Q1
id= 2011K2, text = 2011Q2
id= 2011K3, text = 2011Q3
id= 2011K4, text = 2011Q4
id= 2012K1, text = 2012Q1
id= 2012K2, text = 2012Q2
id= 2012K3, text = 2012Q3
id= 2012K4, text = 2012Q4
id= 2013K1, text = 2013Q1
id= 2013K2, text = 2013Q2
id= 2013K3, text = 2013Q3
id= 2013K4, text = 2013Q4
id= 2014K1, text = 2014Q1
id= 2014K2, text = 2014Q2
id= 2014K3, text = 2014Q3
id= 2014K4, text = 2014Q4
id= 2015K1, text = 2015Q1
id= 2015K2, text = 2015Q2
id= 2015K3, text = 2015Q3
id= 2015K4, text = 2015Q4
id= 2016K1, text = 2016Q1
id= 2016K2, text = 2016Q2
id= 2016K3, text = 2016Q3
id= 2016K4, text = 2016Q4
id= 2017K1, text = 2017Q1
id= 2017K2, text = 2017Q2
id= 2017K3, text = 2017Q3
id= 2017K4, text = 2017Q4
id= 2018K1, text = 2018Q1
id= 2018K2, text = 2018Q2
id= 2018K3, text = 2018Q3
id= 2018K4, text = 2018Q4
id= 2019K1, text = 2019Q1
id= 2019K2, text = 2019Q2
id= 2019K3, text = 2019Q3
id= 2019K4, text = 2019Q4
id= 2020K1, text = 2020Q1
id= 2020K2, text = 2020Q2
id= 2020K3, text = 2020Q3
id= 2020K4, text = 2020Q4
id= 2021K1, text = 2021Q1
id= 2021K2, text = 2021Q2
id= 2021K3, text = 2021Q3
id= 2021K4, text = 2021Q4
id= 2022K1, text = 2022Q1
id= 2022K2, text = 2022Q2
id= 2022K3, text = 2022Q3
id= 2022K4, text = 2022Q4
id= 2023K1, text = 2023Q1

In [126]:
#Loading the data 
var_pick = {'OMRÅDE': ['*'], 'Tid':['*']}
bef_api = Dst.get_data(table_id='FOLK1A', variables=var_pick)
bef_api.sort_values(by=['OMRÅDE'], inplace=True)

In [127]:
bef_api.head(10)

        OMRÅDE     TID    KØN  ALDER CIVILSTAND  INDHOLD
4385  Aabenraa  2008Q3  Total  Total      Total    60427
823   Aabenraa  2020Q2  Total  Total      Total    58694
3767  Aabenraa  2011Q1  Total  Total      Total    59795
812   Aabenraa  2014Q4  Total  Total      Total    58917
1223  Aabenraa  2021Q2  Total  Total      Total    58587
4738  Aabenraa  2013Q3  Total  Total      Total    59197
3226  Aabenraa  2021Q4  Total  Total      Total    58595
808   Aabenraa  2010Q2  Total  Total      Total    59970
767   Aabenraa  2022Q2  Total  Total      Total    58770
5411  Aabenraa  2020Q3  Total  Total      Total    58735

In [129]:
bef_api_q1 = bef_api_q1.rename(columns={'TID': 'new_tid'})
bef_api_q1['new_tid'] = bef_api_q1['new_tid'].str.slice(stop=4)
bef_api_q1.rename(columns={'new_tid': 'TID'})

        OMRÅDE   TID    KØN  ALDER CIVILSTAND  INDHOLD
3767  Aabenraa  2011  Total  Total      Total    59795
5469  Aabenraa  2012  Total  Total      Total    59600
2115  Aabenraa  2015  Total  Total      Total    58904
2092  Aabenraa  2017  Total  Total      Total    59003
1648  Aabenraa  2019  Total  Total      Total    59035
...        ...   ...    ...    ...        ...      ...
6199       Ærø  2012  Total  Total      Total     6636
3724       Ærø  2011  Total  Total      Total     6663
3730       Ærø  2016  Total  Total      Total     6290
1793       Ærø  2021  Total  Total      Total     5960
2061       Ærø  2017  Total  Total      Total     6177

[1680 rows x 6 columns]

In [ ]:
bef_api_q1.head(10)
bib_api.head(10)


I = bib_api['BNØGLE'] == 'Loan. All materials'

bib_merge_test = bib_api.loc[I]
print(bib_merge_test)

#bib_merge_test = bib_api[['OMRÅDE', 'TID', 'BNØGLE']].loc['BNØGLE' == 'Loan. All materials']
#print(bib_merge_test)

# Merging the 2 datasets

In [130]:
#The datasets

print(f'Library dataset contains data from: {np.min(bib_api.TID.unique())} to {np.max(bib_api.TID)}')
print(f'Municipalities in Library data = {len(bib_api.OMRÅDE.unique())}')

print(f'Bef dataset contains data from: {np.min(bef_api_q1.new_tid.unique())} to {np.max(bef_api_q1.new_tid)}')
print(f'Municipalities in Library data = {len(bef_api_q1.OMRÅDE.unique())}')

#Differenses in the datasets
diff_mun = [m for m in bef_api_q1.OMRÅDE.unique() if m not in bib_api.OMRÅDE.unique()]

print(diff_mun)

Library dataset contains data from: 2009 to 2021
Municipalities in Library data = 103
Bef dataset contains data from: 2008 to 2023
Municipalities in Library data = 105
['Christiansø', 'Fanø']

In [ ]:
I = bib_merge_test['TID'] == '2019'

In [132]:
inner = pd.merge(bib_api, bef_api_q1, how='inner', on=['OMRÅDE', 'TID'])

KeyError: 'TID'

In [ ]:
bef_api_q1.rename(columns = {'new_tid': 'TID'})

In [ ]:
inner = pd.merge(bib_api, bef_api_q1, how= 'inner', on= ['OMRÅDE', 'TID'])

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

In [ ]:
def plot_func():
    # Function that operates on data set
    pass

widgets.interact(plot_func, 
    # Let the widget interact with data through plot_func()    
);

Explain what you see when moving elements of the interactive plot around.

# Merge data sets

Now you create combinations of your loaded data sets. Remember the illustration of a (inner) **merge**:

In [ ]:
plt.figure(figsize=(15,7))
v = venn2(subsets = (4, 4, 10), set_labels = ('Data X', 'Data Y'))
v.get_label_by_id('100').set_text('dropped')
v.get_label_by_id('010').set_text('dropped' )
v.get_label_by_id('110').set_text('included')
plt.show()

Here we are dropping elements from both data set X and data set Y. A left join would keep all observations in data X intact and subset only from Y. 

Make sure that your resulting data sets have the correct number of rows and columns. That is, be clear about which observations are thrown away. 

**Note:** Don't make Venn diagrams in your own data project. It is just for exposition.

# Analysis

To get a quick overview of the data, we show some **summary statistics** on a meaningful aggregation.

MAKE FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.